@import 'colors';

h5 span.favorite {
  font-size: 18px;
  margin: 0 0 -10px;
  padding-left: 15px;

  form {
    display: inline-block;
    div { margin: 0 0 10px; }
  }

  .button {
    font-weight: normal;
    padding: 4px;
  }
}

.project-box {
  border: solid 1px $cmDarkTeal;
  border-radius: 3px;
  margin-right: 15px;
  margin-bottom: 15px;

  &:last {
    margin-right: 0;
    margin-bottom: 0;
  }
}
